@import "tailwindcss";

:root {
  --bg-primary: #ffffff;
  --bg-secondary: #f7f7f7;
  --text-primary: #111827;
  --text-secondary: #4c669a;
  --text-muted: #6b7280;
  --border-color: #e5e7eb;

  --accent: #006fe5;
  --accent-text: #ffffff;

  --background: var(--bg-primary);
  --foreground: var(--text-primary);

  --font-sans: "Inter", ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, "Roboto Mono",
    "Segoe UI Mono", "Helvetica Neue", monospace;

  --radius: 8px;
  --border-width: 1px;
  --shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: #121212;
    --bg-secondary: #1e1e1e;
    --text-primary: #e5e7eb;
    --text-muted: #9ca3af;

    --accent: #022d82;
    --accent-text: #ffffff;

    --border-color: #374151;
    --shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);

    --background: var(--bg-primary);
    --foreground: var(--text-primary);
  }
}

html.dark {
  --bg-primary: #121212;
  --bg-secondary: #1e1e1e;
  --text-primary: #e5e7eb;

  --accent: #135bec;
  --accent-text: #ffffff;

  --border-color: #374151;
}

@theme inline {
  --color-accent: #006fe5;
  --color-accent-foreground: #ffffff;

  --color-background: var(--bg-primary);
  --color-foreground: var(--text-primary);
  --color-secondary: var(--text-secondary);
  --color-surface: var(--bg-secondary);
  --color-muted: var(--text-muted);
  --color-border: var(--border-color);

  --border-DEFAULT: var(--border-width);
  --radius-DEFAULT: var(--radius);
  --shadow-card: var(--shadow);

  --animate-marquee: marquee 60s linear infinite;
  --animate-marquee-slow: marquee 70s linear infinite;
  --animate-marquee-slowest: marquee 90s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.animate-marquee {
  animation: marquee 10s linear infinite;
  float: left;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #ddd;
  height: 8px;
}

/* For Firefox */
input[type="range"]::-moz-range-track {
  background: #ddd;
  height: 8px;
}

/* For Internet Explorer */
input[type="range"]::-ms-track {
  background: #ddd;
  height: 8px;
}

/* For WebKit browsers */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #007bff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-top: -8px;
}

/* For Firefox */
input[type="range"]::-moz-range-thumb {
  background: #007bff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

/* For Internet Explorer */
input[type="range"]::-ms-thumb {
  background: #007bff;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
